*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  background-color: orangered;
}

.hero {
  width: 9.6rem;
}
