*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
}

.grid-size{



}

.grid-container {
  width: 96rem;
  height: 96rem;
  margin: 0 auto;
  background-color: lightpink;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  background-color: yellowgreen;
  flex: 1 1 auto;
}
