*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 2rem 5rem;
  background-color: #f5cac3;
}

.cell-size {
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 1.5rem;
  margin: 1rem 0 3rem 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #ffa69e;
  color: #fff;
  border: 1px solid #fff;
}

.grid-container {
  width: 96rem;
  height: 96rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  background-color: #f7ede2;
  flex: 1 1 auto;
}
